<div class="container-titles">
    <h1 class="ecommerce-title">Todos los productos</h1>
</div>
<div class="form-group">
    <label for="category" class="input-text">Categor칤a: </label>
    <select id="category" name="category" class="select-category">
        <option value="MEN">MEN</option>
        <option value="WOMEN">WOMEN</option>
        <option value="UNISEX">UNISEX</option>
    </select>

    <label for="sort" class="input-text">Ordenar por: </label>
    <select id="sort" name="sort" class="select-sort">
        <option value="">Seleccione...</option>
        <option value="asc">Precio: Menor a Mayor</option>
        <option value="desc">Precio: Mayor a Menor</option>
    </select>
</div>


<div class="container-products">
    {{#each products.docs}}
        <div class="products">
            <div>
                {{this.thumbnail}}
            </div>
            <ul>
                <li>Nombre: {{this.title}}</li>
                <li>Precio: {{this.price}} {{#if this.esCostoso}}(El producto es costoso){{/if}}</li>
                <li>Categor칤a: {{this.category}}</li>
                <li>Descripci칩n: {{this.description}}</li>
                <li>Stock: {{this.stock}}</li>
                <li>C칩digo: {{this.code}}</li>
                <li>Estado: {{this.status}}</li>
                <li><a href="/{{this._id}}" class="product-link">Detalles</a></li>
                <li><button class="add-to-cart" data-product-id="{{this._id}}">A침adir al carrito 游</button></li>
            </ul>
        </div>
    {{/each}}
</div>


<div class="pagination">
    <button id="prev-page" {{#unless products.hasPrevPage}}disabled{{/unless}}>P치gina Anterior</button>
    <span>P치gina actual: {{products.page}} de {{products.totalPages}}</span>
    <button id="next-page" {{#unless products.hasNextPage}}disabled{{/unless}}>P치gina Siguiente</button>
</div>

<div class="container-btn-home">
    <button id="bnt-actualizar-productos">Actualizar</button>
    <a href="http://localhost:8080/cart/detail" id="cart-view"> Ver carrito 游</a>
</div>

<script src="/api/public/js/products.js"></script>
